python-dotenv
langchain
ipykernel
pypdf
langchain_community
langchain-community
bs4
tabulate >= 0.9
langchain-text-splitters
wikipedia
pymupdf
langchain-openai
chromadb
faiss-cpu
streamlit
langchain-experimental>=0.0.50
matplotlib>=3.8
langchain_groq
langchain_core
fastapi
PyPDF2
langserve
langchain_community